# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.coverprofile
/codecov
/codecov.SHA256SUM
/codecov.SHA256SUM.sig

# AST and DST files used while writing code generation code
moq_*_ast.txt
moq_*_dst.txt

# macOS
.DS_Store

# other
.envrc
/.idea
